/* Universal Selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.common-design{    
    max-width: 1600px;
    border: 1px solid red;
    margin: auto;
}


.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn-2{
    background-color: transparent;
    border: 1px solid white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

/* Navbar Section */

header{
    background-color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    
}

.container .logo{
    margin: 16px auto;
    margin-left: 120px;
}

.container .menu{
    display: flex;  
    list-style-type: none;
    align-items: center;
    margin: 34px auto;
    gap: 32px;
}

.container .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.container .menu-btn{
    margin: 24px auto;   
}

/* Banner Section */

#banner{
    background: url(../assets/hero-bg.png) , white ;
}
.banner-content{
    display: flex;
    flex-direction: column;
    margin: 115.5px 120px 179.5px;
    align-items: center;
    justify-content: center;
} 

.banner-content .caption-1{
    color: white;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

.banner-content .caption-2{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.banner-content p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
    
.btn-parent{
    
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.banner-content .early-access-button{
    border: none;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
    font-weight: 600;
    
}

.early-access-button img {
    width: 16px; 
    height: 16px;
    display: inline;
}

/* Notes Section */

.heading{
    margin: 16px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 25, 49, 1);
}

.subtitle{
    color: rgba(98,115,130,1);
    margin-bottom: 44px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.card-parent{
    display: flex;
    gap: 24px;
    padding: 0 120px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 0px  0px 0.6px rgba(0,0,0,0.06);
    border-radius: 8px;
    gap: 10px;
}

.red-bg {
    width: 60px;           
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(249, 85, 85, 1);
}

/* Second Brain Section */

.second-brain{
    
    display: flex;
    padding: 120px;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.second-brain img{
    border-radius: 12px;
    
}

.section-message h5{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.section-message h2{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.section-message p{
    margin-top: 16px;
    color: rgba(98,115,130,1);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.section-message ul{
    margin-top: 40px;
    list-style: none;
}

.section-message li{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.section-message span{
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}


/* footer section */

footer{
    background-color: #001931;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px 168px 120px;
}


footer h4{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
}

.white-bg {
    display: inline-flex;
    width: 20px;           
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: white;
}